<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{site.title}}</title>
<link rel="shortcut icon" href="favicon.ico" />
<script defer src="/js/main.js"></script>
<script defer src="/js/rendering.js"></script>
<script defer src="/js/navigation.js"></script>
<link href="/css/main.css" rel="stylesheet">