{{<html}}
{{$main}}

{{> partials.home.hero}}

{{> partials.home.featured}}

{{> partials.home.text}}

{{#empty(site.context.podcasts)}}
{{/empty(site.context.podcasts)}}
{{^empty(site.context.podcasts)}}
<div class="grid grid-321">
{{#site.context.podcasts}}
    {{episode}}
    {{title}}
    <br>
{{/site.context.podcasts}}
</div>
{{/empty(site.context.podcasts)}}

{{/main}}
{{/html}}
