    <!-- Section text -->
    <section class="section-text">
      <div class="container">
        <div class="row justify-content-between py-5 py-md-8">
          <div class="col-12 col-md-6 col-lg-5">

            <h2 class="fw-bold mb-5">The podcast</h2>

            <h4 class="fw-medium mb-3">Stacks of audio content that speaks your language</h4>

            <p class="mb-0">Keep an ear to the ground with an eye to your future: tune in for fresh content that will build your knowledge and propel your career. We will cover everything from emerging tech trends right down to the details of AWS tools and processes. Expert guest speakers offer insights into real-world projects, helping you develop a deeper understanding of AWS to reach solutions faster. Curious developers jump straight in; this is the podcast you have been looking for!</p>

          </div>

          <div class="col-12 col-md-6 pt-4 pt-md-0">

            <h4 class="fw-medium mb-5">Where to tune in</h4>

            <div class="row row-gap-4 mb-5">
              <div class="col-6">
                <a href="{{amazon_music}}" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon">
                      <use xlink:href="images/amazon-music.svg#amazon-music"></use>
                    </svg>
                    <p class="mb-0">Amazon Music</p>
                  </div>
                </a>
              </div>

              <div class="col-6">
                <a href="{{apple_podcast}}" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon">
                      <use xlink:href="images/apple-podcast.svg#apple-podcast"></use>
                    </svg>
                    <p class="mb-0">Apple Podcast</p>
                  </div>
                </a>
              </div>

              <div class="col-6">
                <a href="{{spotify}}" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon dark-d-none">
                      <use xlink:href="images/spotify.svg#spotify"></use>
                    </svg>
                    <svg class="section-text__icon light-d-none">
                      <use xlink:href="images/spotify-alt.svg#spotify-alt"></use>
                    </svg>
                    <p class="mb-0">Spotify</p>
                  </div>
                </a>
              </div>

              <div class="col-6">
                <a href="{{youtube}}" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon">
                      <use xlink:href="images/youtube-music.svg#youtube-music"></use>
                    </svg>
                    <p class="mb-0">YouTube Music</p>
                  </div>
                </a>
              </div>
            </div>

            <h4 class="fw-medium mb-3">Your Builder ID</h4>

            <p class="mb-0">An AWS Builder ID unlocks a personal profile that's separate from your regular AWS accounts. It provides free private access to Amazon Q Developer and Code Catalyst, 600+ free Skill Builder courses, community resources, and more. Your AWS Builder ID is designed to accompany you through your goals—it's the perfect place to shape your skills, experiment without risk, and build a richer knowledge base of the AWS suite.</p>

            <div class="mt-5">
              <a href="{{builderid}}" target="_blank" class="btn bg-dark-subtle text-dark-emphasis hover-gradient-1">Sign up</a>
            </div>

          </div>
        </div>
      </div>
    </section>
  <!-- End section text -->